// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rv1106.dtsi"
#include "rv1106-evb.dtsi"
#include "rv1106-luckfox-pico-pro-max-ipc.dtsi"

/ {
	model = "Luckfox Pico Max";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1106";
	
	ili9488 {
        status = "okay";
        compatible = "ultrachip,uc8253";
		pinctrl-names = "default";
		pinctrl-0 = <&i80_pins>;
        fps = <30>;
        buswidth = <16>;
        debug = <0x7>;
        db =  <&gpio1 RK_PB2 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PB3 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC6 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC5 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC4 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>,
        			<&gpio2 RK_PB1 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC0 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC1 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC2 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PC3 GPIO_ACTIVE_HIGH>,
        			<&gpio2 RK_PB0 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PD0 GPIO_ACTIVE_HIGH>,
        			<&gpio1 RK_PD1 GPIO_ACTIVE_HIGH>;

        dc = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>;      //RS
        wr = <&gpio2 RK_PA1 GPIO_ACTIVE_HIGH>;
        reset = <&gpio2 RK_PA6 GPIO_ACTIVE_HIGH>;    //RES
        led = <&gpio2 RK_PA7 GPIO_ACTIVE_HIGH>;
	};
	
	// i2c-gpio-0 {
	// 	compatible = "i2c-gpio";
	// 	sda-gpios = <&gpio4 RK_PC0 GPIO_ACTIVE_HIGH>; /* sda */
	// 	scl-gpios = <&gpio4 RK_PC1 GPIO_ACTIVE_HIGH>; /* scl */
	// 	i2c-gpio,sda-open-drain;
	// 	i2c-gpio,scl-open-drain;
	// 	i2c-gpio,delay-us = <2>;	/* ~100 kHz */
	// 	pinctrl-names = "default";
	// 	pinctrl-0 = <&i2c_gpio_pins>;
	// 	#address-cells = <1>;
	// 	#size-cells = <0>;
	// 	status = "okay";
		
	// 	rtp@38 {
	// 		compatible = "focaltech,ft6236";
	// 		reg = <0x38>;
	// 		interrupt-parent = <&gpio2>;
	// 		interrupts = <RK_PA3 IRQ_TYPE_EDGE_FALLING>;
    //     	reset-gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_LOW>;
    //     	// wake-gpios = <&gpio2 RK_PA0 GPIO_ACTIVE_HIGH>;
    //     	pinctrl-names = "default";
	// 		pinctrl-0 = <&tp_pins>;
	// 		wakeup-source;
	// 		// touchscreen-inverted-x;
	// 		// touchscreen-inverted-y;
	// 		// touchscreen-swapped-x-y;
	// 		status = "okay";
	// 	};
	// };
};

&pinctrl {
	i80 {
		i80_pins: i80-pins {
			rockchip,pins =
				<1 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PB3 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC5 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC4 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<2 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC2 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PC3 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<2 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<1 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<2 RK_PA1 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<2 RK_PA6 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>,
				<2 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none_drv_level_0>;
		};
	};
	i2c-gpio {
		i2c_gpio_pins: i2c-gpio-pins {
			rockchip,pins =
				<4 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>,
				<4 RK_PC1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
	tp {
		tp_pins: tp-pins{
			rockchip,pins =
				<2 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>,
				<2 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&saradc {
	status = "disabled";
};

/**********FLASH**********/
&sfc {
	status = "okay";
	flash@0 {
		compatible = "spi-nand";
		reg = <0>;
		spi-max-frequency = <75000000>;
		spi-rx-bus-width = <4>;
		spi-tx-bus-width = <1>;
	};
	
};

/**********SDMMC**********/
&sdmmc {
	max-frequency = <50000000>;
	no-sdio;
	no-mmc;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc0_clk &sdmmc0_cmd &sdmmc0_det &sdmmc0_bus4>;
	status = "okay";
};

/**********SDIO**********/
// &sdio {
// 	max-frequency = <50000000>;
// 	no-sdio;
// 	no-mmc;
// 	bus-width = <4>;
// 	cap-mmc-highspeed;
// 	cap-sd-highspeed;
// 	disable-wp;
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&sdmmc1m0_cmd &sdmmc1m0_clk &sdmmc1m0_bus4 &clk_32k>;
// 	status = "okay";
// };

/**********ETH**********/
&gmac {
	status = "okay";
};

/**********USB**********/
// &usbdrd_dwc3 {
// 	status = "okay";
// 	dr_mode = "peripheral";
// };
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "host";
};

/**********I2C**********/
// &i2c1 {
// 	status = "okay";
// 	pinctrl-0 = <&i2c1m1_xfer>;
// 	clock-frequency = <100000>;
// };
// &i2c3 {
// 	status = "okay";
// 	pinctrl-0 = <&i2c3m1_xfer>;
// 	clock-frequency = <100000>;
// };

// /**********SPI**********/
// &spi0 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&spi0m0_pins>;
// 	cs-gpios = <&gpio1 RK_PC0 1>;
// 	// cs-gpios = <&gpio1 26 1>;
// 	#address-cells = <1>;
// 	#size-cells = <0>;
// 	spidev@0 {
// 		compatible = "rockchip,spidev";
// 		spi-max-frequency = <50000000>;
// 		reg = <0>;
// 	};
// };
// &spi0 {
//     status = "okay";
//     pinctrl-names = "default";
//     pinctrl-0 = <&spi0m0_cs0 &spi0m0_pins>;

//     st7789v@0{
//         status = "okay";
//         compatible = "sitronix,st7789v";
//         reg = <0>;
//         spi-max-frequency = <20000000>;
//         fps = <60>;
//         buswidth = <8>;
//         debug = <0x7>;
//         led-gpios = <&gpio0 RK_PA4 GPIO_ACTIVE_LOW>;//BL
//         dc = <&gpio1 RK_PA2 GPIO_ACTIVE_HIGH>;      //DC
//         reset = <&gpio1 RK_PC3 GPIO_ACTIVE_LOW>;    //RES
//     };
// };

// &pinctrl {
//     spi0 {
//         /omit-if-no-ref/
//         spi0m0_pins: spi0m0-pins {
//             rockchip,pins =
//                 /* spi0_clk_m0 */
//                 <1 RK_PC1 4 &pcfg_pull_none>,
//                 /* spie_miso_m0 */
//                 // <1 RK_PC3 6 &pcfg_pull_none>,
//                 /* spi_mosi_m0 */
//                 <1 RK_PC2 6 &pcfg_pull_none>;
//         };
//     };
// };


/**********UART**********/

// &uart0 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart0m1_xfer>;
// };

&uart1 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart1m1_xfer>;
};

// &uart3 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart3m1_xfer>;
// };
// &uart4 {
// 	status = "okay";
// 	pinctrl-names = "default";
// 	pinctrl-0 = <&uart4m1_xfer>;
// };


// /**********PWM**********/

// &pwm0 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm0m0_pins>;
// 	// pinctrl-0 = <&pwm0m1_pins>;
// };
// &pwm1 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm1m0_pins>;
// 	// pinctrl-0 = <&pwm1m1_pins>;
// };

//&pwm2 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm2m2_pins>;
//};
//&pwm3 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm3m2_pins>;
//};
//&pwm4 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm4m2_pins>;
//};
// &pwm5 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm5m1_pins>;
// 	// pinctrl-0 = <&pwm5m2_pins>;
// };
// &pwm6 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm6m1_pins>;
// 	// pinctrl-0 = <&pwm6m2_pins>;
// };
//&pwm7 {
//	status = "okay";
//	pinctrl-names = "active";
//	pinctrl-0 = <&pwm7m2_pins>;
//};
//&pwm8 {
//	status = "okay";
//	pinctrl-names = "active";
//	// pinctrl-0 = <&pwm8m1_pins>;
//	pinctrl-0 = <&pwm8m0_pins>;
//};
//&pwm9 {
//	status = "okay";
//	pinctrl-names = "active";
//	// pinctrl-0 = <&pwm9m1_pins>;
//	pinctrl-0 = <&pwm9m0_pins>;
//};

// &pwm10 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm10m1_pins>;
// 	// pinctrl-0 = <&pwm10m2_pins>;
// 	// pinctrl-0 = <&pwm10m0_pins>;
// };
// &pwm11 {
// 	status = "okay";
// 	pinctrl-names = "active";
// 	pinctrl-0 = <&pwm11m1_pins>;
// 	// pinctrl-0 = <&pwm11m2_pins>;
// 	// pinctrl-0 = <&pwm11m0_pins>;
// };


&rtc {
	status = "okay";
};


